@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    background-image: url('background.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: bold;
    position: fixed;
    width: 100%;
    overflow: auto;
}

main {
    padding: 20px;
    text-align: center;
    color: #4a0677;
}

h2 {
    color: #59089b;
    font-family: 'Sigmar', sans-serif;
}

p {
    color: #4c0d80;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #ecb0e7;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

nav a {
    display: inline-block;
    background-color: #ae00ff;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #f700ff;
}
